<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
      <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]} %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sub_cat_type %>
    <%= f.select(:sub_cat_type, SubCategory::SUBCATEGORY_TYPES) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
