<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>SUb Category type:</strong>
  <%= @subcategory.sub_cat_type %>
</p>

<p>
  <strong>Category Name:</strong>
  <%= @subcategory.category.name %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@subcategory) %> |
<%= link_to 'Back', sub_categories_path %>
