<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Category_type:</strong>
  <%= @category.cat_type %>
</p>

<p>
  <strong>Category image:</strong>
  <%= image_tag @category.image_url if @category.image? %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
