<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :sub_category %><br>
    <%= f.select :sub_category_id, SubCategory.all.collect {|x| [x.name, x.id]} %>
  </div>

  <div class="field">
    <%= f.label :prod_type %>
    <%= f.select(:prod_type, Product::PRODUCT_TYPES) %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ratings %><br>
    <%= f.text_field :ratings %>
  </div>
  <div class="field">
    <%= f.label :emi %><br>
    <%= f.text_field :emi %>
  </div>
  <div class="field">
    <%= f.label :delivery_type %><br>
    <%= f.text_field :delivery_type %>
  </div>
  <div class="field">
    <%= f.label :offers %><br>
    <%= f.text_field :offers %>
  </div>
  <div class="field">
    <%= f.label :cash_on_delivery %><br>
    <%= f.text_field :cash_on_delivery %>
  </div>
  <div class="field">
    <%= f.label :guarantee %><br>
    <%= f.text_field :guarantee %>
  </div>
  <div class="field">
    <%= f.label :specs %><br>
    <%= f.text_field :specs %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_field :review %>
  </div>
  <div class="field">
    <%= f.label :instock %><br>
    <%= f.text_field :instock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
