<h1>Listing Product</h1>
<table>
  <thead>
    <tr>
      <th> Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Price</th>
      <th>category</th>
      <th>sub category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.prod_type %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name %></td>
        <td><%= product.sub_category.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
