<p id="notice"><%= notice %></p>
<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Sub Category:</strong>
  <%= @product.sub_category.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Brand</strong>
  <%= @product.brand %>
</p>
<p>
  <strong>Type:</strong>
  <%= @product.prod_type %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>
<p>
  <strong>Description</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Ratings</strong>
  <%= @product.ratings %>
</p>
<p>
  <strong>Emi:</strong>
  <%= @product.emi %>
</p>
<p>
  <strong>Delivery Type</strong>
  <%= @product.delivery_type %>
</p>
<p>
  <strong>Offers</strong>
  <%= @product.offers %>
</p>
<p>
  <strong>Cash on Delivery:</strong>
  <%= @product.cash_on_delivery %>
</p>
<p>
  <strong>Guarantee</strong>
  <%= @product.guarantee %>
</p>
<p>
  <strong>Specs:</strong>
  <%= @product.specs %>
</p>
<p>
  <strong>Review:</strong>
  <%= @product.review %>
</p>
<p>
  <strong>Instock:</strong>
  <%= @product.instock %>
</p>

<p>
  <strong>Out Of Stock:</strong>
  <%= @product.out_of_stock %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
